@charset "UTF-8";

/* id = #  (a identificação é unica para cada elemento).
   class = .  (a classificação pode ser em vários elementos).
   É permitido colocar class onde já tem id, porém o id sempre irá sobrepor uma mesma configuração.
*/

body{
    background-color: rgb(136, 230, 198);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{
    text-align: center;
    background-color: antiquewhite;
    color: rgb(167, 1, 131);
}

h1{
    color: rgb(255, 102, 13);
}

h2{
    color: rgb(211, 21, 31);
}

.intermediario{
    color: rgb(14, 128, 235);
}

.avancado{
    color: rgb(119, 0, 255);
}

.destaque{
    background-color: beige;
}